<section>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="image-container">
        <img
          src="https://aws-obg-image-lb-1.tcl.com/content/dam/brandsite/region/in/blog/pc/detail/blog-march/how-to-install-a-washing-machine/pc.jpg"
          class="rounded" alt="...">
      </div>
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Productos de calidad al mejor precio</h1>
        <p class="lead my-3">Producto garantizado, lo probamos antes de ser enviado</p>
      </div>
    </div>
  </main>
</section>

<section>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 order-md-last">
                <img src="..." class="img-fluid rounded-end" alt="...">
              </div>
              <div class="col-md-8 order-md-first">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 order-md-last">
                <img src="..." class="img-fluid rounded-end" alt="...">
              </div>
              <div class="col-md-8 order-md-first">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 order-md-last">
                <img src="..." class="img-fluid rounded-end" alt="...">
              </div>
              <div class="col-md-8 order-md-first">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 order-md-last">
                <img src="..." class="img-fluid rounded-end" alt="...">
              </div>
              <div class="col-md-8 order-md-first">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>
</section>

