.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input.ng-invalid.ng-touched {
  border: solid 1px red !important;
}

input.ng-valid {
  border: solid 1px green !important;
}

.form-outline {
  position: relative;
  margin-bottom: 1rem;
}

.form-control {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px 0.25rem;
  pointer-events: none;
  color: #6c757d;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out, font-size 0.2s ease-out;
}

.form-control:focus + .form-label,
.form-control:not(:placeholder-shown) + .form-label {
  transform: translateY(-1.5rem) scale(0.85);
  opacity: 0.5;
  font-size: 0.85rem;
}

.modal-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.image-container {
  max-width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px;
  padding: 20px;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.product-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.card-container {
  position: relative;
  width: 150px;
  height: 150px;
}

.circular-card {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px;
  border-radius: 15px;
  text-align: center;
  max-width: 300px;
  overflow: auto;
}

@media (max-width: 768px) {
  .centered-container {
    height: auto;
    padding: 1rem;
  }

  .product-card {
    width: 100%;
    margin: 10px;
  }

  .circular-card {
    width: 100%;
    margin: 10px;
  }
}