<section>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="image-container">
        <img
          src="https://aws-obg-image-lb-1.tcl.com/content/dam/brandsite/region/in/blog/pc/detail/blog-march/how-to-install-a-washing-machine/pc.jpg"
          class="rounded" alt="Producto de calidad">
      </div>
      <div class="col-lg-6 px-0">
        <h1 class="display-4 fst-italic">Productos de calidad al mejor precio</h1>
        <p class="lead my-3">Producto garantizado, lo probamos antes de ser enviado</p>
      </div>
    </div>
  </main>
</section>



<section>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="row row-cols-1 row-cols-md-2 g-4">
      
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>

      </div>
    </div>
  </main>
</section>

<section>
  <main class="container">
    <div align="center">
      <h4>Nuestras categorías</h4>
    </div>

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis d-flex justify-content-center">
      <div class="row row-cols-1 row-cols-md-2 g-4">

        <ng-container *ngIf="categoriaList$ | async as resultCategoriaList">
          <ng-container *ngFor="let categoriaItem of resultCategoriaList.data; let i = index">

            <div class="card-container">
              <div class="circular-card">
                <img src="../../../assets/images/imagen{{ i+1 }}.jpg" class="card-img-top" alt="Imagen de categoría">
              </div>
              <div class="card-body">
                <button type="button" class="btn btn-outline-secondary"
                  (click)="productoPorCategoria(categoriaItem.CodCategoriaProducto)">
                  <span>{{ categoriaItem.CategoriaProducto }}</span>
                </button>
              </div>
            </div>

          </ng-container>
        </ng-container>

      </div>
    </div>
  </main>
</section>

<section *ngIf="seccionProducto">
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <div class="row row-cols-1 row-cols-md-2 g-4">

        <ng-container *ngIf="(productoPorCategoriaList$ | async)?.data as productos">
          <ng-container *ngIf="productos.length > 0">
            <ng-container *ngFor="let productoItem of productos; let i = index">

              <div class="product-card">
                <h2>{{ productoItem.CategoriaProducto }}</h2>
                <p>{{ productoItem.CategoriaProducto }}</p>
                <img src="../../../assets/images/imagen{{ i+1 }}.jpg" alt="Imagen del producto">
                <p>Precio: {{ productoItem.Precio | currency: 'Q' }}</p>
                <p class="card-text" align="right">
                  <small class="text-body-secondary">
                    En existencia: {{ productoItem.Cantidad }}
                  </small>
                </p>
              </div>

            </ng-container>
          </ng-container>
        </ng-container>

      </div>
    </div>
  </main>
</section>

<br>

<section>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
      <p>Más productos</p>

      <div id="carouselProductos" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <!-- Aquí irá el contenido del carrusel -->
          <div *ngIf="productoList$ | async as resultProductoList" class="carousel-inner">
            <div *ngFor="let productoItem of resultProductoList.data; let i = index" class="carousel-item"
              [class.active]="i === 0">
              
                          <!-- <div *ngIf="resultProductoList.success == false" class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Error recibido: </strong> {{ resultProductoList.message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                              (click)="mostrarMensajeError()"></button>
                          </div> -->

              <div class="product-card">
                <h2>{{productoItem.Producto}}</h2>
                <p>{{productoItem.Observaciones}}</p>
                <img src="../../../assets/images/imagen{{ i+1 }}.jpg" alt="...">
                <p>Precio: {{productoItem.Precio | currency: 'Q'}}</p>
              </div>

            </div>
          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProductos" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselProductos" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </main>

</section>