<section>
  <main class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Outlet Mancilla</a>
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="producto" [ngClass]="{active: menuOpcion == 'producto'}"
                (click)="onOpcion">Productos</a>
            </li>
          </ul> -->
          <ul class="navbar-nav ms-auto">
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="" [ngClass]="{active: menuOpcion == 'ubicaciones'}"
                (click)="onOpcion">Ubicaciones</a>
            </li> -->
            <li class="nav-item">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Iniciar sesión
              </button>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </main>
</section>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesión</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="card-body p-5 shadow-5 text-center">
          <h2 class="fw-bold mb-5">Ingresa a Outlet Los Mancilla</h2>
          <!-- <form (ngSubmit)="loginCliente()" [formGroup]="formularioLogin" class="login-auth-form"> -->
            <!-- Input UsuarioEmpleado -->
            <div class="form-outline mb-4">
              <label for="correo" class="form-label"></label>
              <input formControlName="UsuarioID" type="email" class="form-control" placeholder="nombre@dominio.com" />
            </div>
            <!-- Input ClaveEmpleado-->
            <div class="form-outline mb-4">
              <label for="clave" class="form-label"></label>
              <input formControlName="ClaveUsuario" type="password" class="form-control" placeholder="Contraseña" />
            </div>
            <!-- <div *ngIf="errorSesion">Ocurrio un error al iniciar sesión</div> -->
            <!-- <button [disabled]="formularioLogin.invalid" type="submit" class="btn btn-success">
              Iniciar sesión
            </button> -->
          <!-- </form> -->
          <br />
          <p>
            ¿No tienes una cuenta?
            <!-- <button (click)="irRegistrarCliente()" type="button" class="btn btn-light btn-rounded">
              ¡Registrate!
            </button> -->
          </p>
          <!-- <div *ngIf="errorSesion" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error recibido: </strong> {{ dataErrorSesion }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
              (click)="mostrarErrorSesion()"></button>
          </div> -->
        </div>

      </div>
      <div class="modal-footer">
        <a class="nav-link" routerLink="" [ngClass]="{active: menuOpcion == 'sesion'}" (click)="onOpcion">Iniciar
          sesión</a>
      </div>
    </div>
  </div>
</div>


<router-outlet />