<section>
    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
            <div class="row row-cols-1 row-cols-md-2 g-4">

                @if(productoList$ | async; as resultProductoList){
                
                    @for(productoItem of resultProductoList.data; track productoItem.Producto){

                        <app-producto-detalle [productoItem]="productoItem"/>
                    }
                }

            </div>
        </div>
    </main>
</section>